/* Nav */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(233, 222, 222, 0.87);
}

/* Navbar */
.nav-wrapper {
  width: 100%;
  position: fixed;
  z-index: 2;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 0;
  max-width: 1720px;
}



.right-menu {
  grid-column: 3;
  align-self: center;
  text-align: end;
}

.brand {
  grid-column: 2;
  align-self: center;
  /* justify-self: start; */
  padding: 1.5rem;
  /* margin-left: 15px; */
  background-image: url("imgs/flag2.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}


.flag-img {
  width: 50px;
}

#nav-toggle, .ham-menu {
  display: none;
}

.wb {
  width: 32px;
}

@media only screen and (max-width: 1025px) {
  .right-menu {
      display: none;
  }

  .ham-menu {
      display: inline-block;
  }

  #nav-toggle:checked ~ .right-menu {
      display: grid;
      grid-row: 2;
  }
}

.ham-menu {
  grid-column: 3;
  text-align: end;
  align-self: center;
  margin-right: 20px;
}

.right-menu a {
  padding: 7.5px 0;
  margin-right: 15px;
  font-size: 14px;
  letter-spacing: .75px;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* font-weight: 900; */
  text-transform: uppercase;
  transition: .3s all ease-in-out;
}

nav a:hover {
  opacity: .7;
}

.navbar.scrolled {
  background: rgba(16, 22, 20, 0.705);
  transition: background 1s;
}

.animate__animated.animate__backInDown {
  animation-duration: 2s;
}

/* Body */
body {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.form-container {
  grid-column: 1;
  position: relative;
  /* display: grid; */
  top: 80px;
  /* max-width: 600px; */
  /* max-height: 300px; */
  width: 600px;
  height: 550px;
  background-color: rgba(233, 222, 222, 0.87);

  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}



/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  /* top: 106.5vh; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
}

.footer a {
    padding-right: 15px;
    text-decoration: none;
    color: rgba(141, 128, 128, 0.87);
    transition: .3s all ease-in-out;
}

.footer a:hover {
    opacity: .5;
}