/* Nav */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Navbar */
.nav-wrapper {
  width: 100%;
  position: fixed;
  z-index: 2;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 0;
  max-width: 1720px;
}



.right-menu {
  grid-column: 3;
  align-self: center;
  text-align: end;
}

.brand {
  grid-column: 2;
  align-self: center;
  /* justify-self: start; */
  padding: 1.5rem;
  /* margin-left: 15px; */
  background-image: url("imgs/flag2.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}


.flag-img {
  width: 50px;
}

#nav-toggle, .ham-menu {
  display: none;
}

.wb {
  width: 32px;
}

@media only screen and (max-width: 1025px) {
  .right-menu {
      display: none;
  }

  .ham-menu {
      display: inline-block;
  }

  #nav-toggle:checked ~ .right-menu {
      display: grid;
      grid-row: 2;
  }
}

.ham-menu {
  grid-column: 3;
  text-align: end;
  align-self: center;
  margin-right: 20px;
}

.right-menu a {
  padding: 7.5px 0;
  margin-right: 15px;
  font-size: 14px;
  letter-spacing: .75px;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* font-weight: 900; */
  text-transform: uppercase;
  transition: .3s all ease-in-out;
}

nav a:hover {
  opacity: .7;
}

.navbar.scrolled {
  background: rgba(16, 22, 20, 0.705);
  transition: background 1s;
}

.animate__animated.animate__backInDown {
  animation-duration: 2s;
}

/* Body */
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background-color: rgba(233, 222, 222, 0.87);
}

/* SlideShow */
/* Slideshow container */
.slideshow-container {
  width: 600px;
  height: 550px;
  /* border: 10px solid rgba(233, 222, 222, 0.87); */
  position: relative;
  top: 80px;
  grid-column: 1;
  display: flex;

  background-color: rgba(233, 222, 222, 0.87);
  border-radius: 5%;

  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  /* margin: auto; */
  transition: .3s all ease-in-out;
}

/* Imgs */
.ic {
  width: 600px;
  height: 425px;
  /* border-radius: 5%; */
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  transition: .3s all ease-in-out;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Caption text */
.text {
  /* background-color: rgba(0, 0, 0, 0.466); */
  color: #0c0909;
  font-size: 15px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  /* padding: 50px 0; */
  position: absolute;
  bottom: 0px;
  /* height: 100%; */
  width: 100%;
  border-radius: 5%;
  text-align: center;
  top: 80%;
  /* align-self: flex-start; */
  /* z-index: -1; */
  transition: .3s all ease-in-out;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Form */
.form-container {
  grid-column: 2;
  position: relative;
  /* display: grid; */
  top: 80px;
  /* max-width: 600px; */
  /* max-height: 300px; */
  width: 600px;
  height: 550px;
  background-color: rgba(233, 222, 222, 0.87);
  border-radius: 5%;

  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
   transition: .3s all ease-in-out;
}



/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  /* top: 106.5vh; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
}

.footer a {
    padding-right: 15px;
    text-decoration: none;
    color: rgba(141, 128, 128, 0.87);
    transition: .3s all ease-in-out;
}

.footer a:hover {
    opacity: .5;
}

/* Responsive */

@media only screen and (max-width: 1200px) {
  .form-container{
    width: 500px;
    height: 450px;
  }

  .slideshow-container {
    width: 500px;
    height: 450px;
    /* border: 10px solid rgba(233, 222, 222, 0.87); */
    position: relative;
    top: 80px;
    grid-column: 1;
    display: flex;
  
    background-color: rgba(233, 222, 222, 0.87);
    border-radius: 5%;
  
    background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
     -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    /* margin: auto; */
  }
  
  /* Imgs */
  .ic {
    width: 500px;
    height: 325px;
    /* border-radius: 5%; */
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
  }

  .text {
    top: 75%;
  }
}

@media only screen and (max-width: 1000px) {
  .form-container{
    width: 425px;
    height: 450px;
  }

  .slideshow-container {
    width: 425px;
    height: 450px;
    /* border: 10px solid rgba(233, 222, 222, 0.87); */
    position: relative;
    top: 80px;
    grid-column: 1;
    display: flex;
  
    background-color: rgba(233, 222, 222, 0.87);
    border-radius: 5%;
  
    background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
     -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    /* margin: auto; */
  }
  
  /* Imgs */
  .ic {
    width: 425px;
    height: 325px;
    /* border-radius: 5%; */
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
  }

  .text {
    top: 75%;
  }
}
@media only screen and (max-width: 850px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  .form-container{
    grid-column: 1;
    grid-row: 1;
    width: 425px;
    height: 450px;
  }

  .slideshow-container {
    grid-column: 1;
    grid-row: 2;
    width: 425px;
    height: 450px;
    /* border: 10px solid rgba(233, 222, 222, 0.87); */
    position: relative;
    top: 80px;
    grid-column: 1;
    display: flex;
  
    background-color: rgba(233, 222, 222, 0.87);
    border-radius: 5%;
  
    background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
     -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    margin-bottom: 15px;
  }
  
  /* Imgs */
  .ic {
    width: 425px;
    height: 325px;
    /* border-radius: 5%; */
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
  }

  .text {
    top: 75%;
  }
}