* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.nav-wrapper {
    width: 100%;
    position: fixed;
    z-index: 2;
}

nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 0;
    max-width: 1720px;
}



.right-menu {
    grid-column: 3;
    align-self: center;
    text-align: end;
}

.brand {
    grid-column: 2;
    align-self: center;
    /* justify-self: start; */
    padding: 1.5rem;
    /* margin-left: 15px; */
    background-image: url("imgs/flag2.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}


.flag-img {
    width: 50px;
}

#nav-toggle, .ham-menu {
    display: none;
}

@media only screen and (max-width: 1025px) {
    .right-menu {
        display: none;
    }

    .ham-menu {
        display: inline-block;
    }

    #nav-toggle:checked ~ .right-menu {
        display: grid;
        grid-row: 2;
    }
}

.ham-menu {
    grid-column: 3;
    text-align: end;
    align-self: center;
    margin-right: 20px;
}

.right-menu a {
    padding: 7.5px 0;
    margin-right: 15px;
    font-size: 14px;
    letter-spacing: .75px;
}

nav a {
    text-decoration: none;
    color: rgb(240, 231, 231);
    text-transform: uppercase;
    transition: .3s all ease-in-out;
}

nav a:hover {
    opacity: .7;
}

.navbar.scrolled {
    background: rgba(16, 22, 20, 0.705);
    transition: background 1s;
}

.animate__animated.animate__backInDown {
    animation-duration: 2s;
}

/* Header */

#header {
    /* background: rgba(1, 1, 1, .5); */
    background-image: url("imgs/hamburg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
}

#grizzle {
    background: rgba(1, 1, 1, .4);
    width: 100%;
    height: 110vh;
}

#jum {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-top: 275px;
}

.one {
    grid-column: 2;
    /* padding: 275px; */
    text-align: center;
    font-size: 20px;
    color: rgba(233, 222, 222, 0.87);
}

.two {
    grid-column: 2;
    text-align: center;
    margin-top: 20px;
}

.two a {
    text-decoration: none;
    font-size: 11.5px;
    letter-spacing: 1px;
    position: relative;
    color: white;
    text-transform: uppercase;
    padding: 1em 1.5em;
    border-radius: 5%;
    background-color: red;
    box-shadow: 0 5px 0 darkred;
}

.two a:active {
    box-shadow: none;
    top: 5px;   
}

.two a:hover {
    background-color: #ce0606;
}

/* About Page */

#container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
    /* max-width: 900px; */
    padding: 100px;
    background-color: rgb(255, 255, 255);
    border: 50px solid black;
    z-index: -1;
}

.grid-one {
    grid-column: 1;
    background-image: url("imgs/water.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* position: relative; */
    /* height: 65vh; */
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.middle {
    grid-column: 1;
    text-align: center;
    color: transparent;
}

#overlay {
    /* visibility: hidden; */
    grid-column: 1;
    height: 65vh;
    /* position: relative; */
    transition: 1s all ease-in-out;
    /* z-index: -2; */
    border-radius: 500px;
}

#overlay:hover {
    /* visibility: visible; */
    background-color: rgba(1, 1, 1, 0.493);
    text-align: center;
    /* z-index: 2; */
}





/* .grid-one:hover {
    grid-column: 1;
    background-color: rgba(1, 1, 1, 0.774);
    /* z-index: 1; */
    /* position: absolute; */


.grid-two {
    grid-column: 2;
    /* background: rgba(61, 129, 255, 0.932); */
    text-align: center;
    /* padding: 20px; */
}

.grid-two p {
    padding: 50px;
    /* font-size: 14px; */
}

@media only screen and (max-width: 1200px) {
    #container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-one {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 800px) {

    .grid-two {
        grid-column: 1;
    }
}